includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 9
    paths:
        - src/
    scanFiles:
        - block-visibility-edge-cache.php
        - vendor/woocommerce/action-scheduler/functions.php
